<nav class="nav border-top border-primary">
  <div class="scrollable-nav">
    <% @categories.each do |c| %>
      <a class="nav-link" id="<%= c.id %>"  href="#"><%= c.name %></a>
    <% end %>
  </div>
</nav>