<nav class="nav border-top border-primary">
  <div class="scrollable-nav">
    <% @categories.each do |c| %>
      <%= link_to "#{c.name}", search_path(category: c.id), class: 'nav-link' %>
    <% end %>
  </div>
</nav>