$white: #ffffff;

$theme-colors: (
  "light":      #ecd8cb,
  "dark":       #140601,
  "primary":    #732817,
  "secondary":  #a45841,
  "info":       #d28b6c,
  "accent1":    #6b3c33,
  "accent2":    #b35e54,
  "accent3":    #ccab93,
  "success":    #57a513,
  "warning":    #febf67,
  "danger":     #ee1438,
);

.nav a {
  color: map-get($theme-colors, "accent1");
}

.nav a:hover {
  color: map-get($theme-colors, "primary");
}

.scrollable-nav {
  display: block;
  width: 100%; 
  overflow-x: scroll;
  white-space: nowrap;
  height: auto;
  padding: 10px;
  margin: 0;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: map-get($theme-colors, "light");
}

.scrollable-nav .nav-link {
  display: inline-block;
}

.scrollable-nav::-webkit-scrollbar:horizontal {
  height: 11px;
}

.nav .scrollable-nav::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 2px solid map-get($theme-colors, "light");
  background-color: map-get($theme-colors, "primary");
}

.nav .scrollable-nav::-webkit-scrollbar {
  -webkit-appearance: none;
}

