// $white: #ffffff;

// $theme-colors: (
//   "light":      #ecd8cb,
//   "dark":       #140601,
//   "primary":    #732817,
//   "secondary":  #a45841,
//   "info":       #d28b6c,
//   "accent1":    #6b3c33,
//   "accent2":    #b35e54,
//   "accent3":    #ccab93,
//   "success":    #57a513,
//   "warning":    #febf67,
//   "danger":     #ee1438,
// );
$white: #ffffff;

$theme-colors: (
    "light":      #e2dfe0,
    "dark":       #08193b,
    "primary":    #454e83,
    "secondary":  #d31274,
    "info":       #7f72ab,
    "success":    #57ba8d,
    "warning":    #e0ca0c,
    "danger":     #ee1c04,
);

.nav a, .nav a:hover {
  color: map-get($theme-colors, "primary");
}

.scrollable-nav {
  display: block;
  width: 100%; 
  overflow-x: scroll;
  white-space: nowrap;
  height: auto;
  padding: 10px;
  margin: 0;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: map-get($theme-colors, "light");
}

.scrollable-nav .nav-link {
  display: inline-block;
}

.scrollable-nav::-webkit-scrollbar:horizontal {
  height: 11px;
}

.nav .scrollable-nav::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 2px solid map-get($theme-colors, "light");
  background-color: map-get($theme-colors, "primary");
}

.nav .scrollable-nav::-webkit-scrollbar {
  -webkit-appearance: none;
}

thead, tbody, tfoot, tr, td, th {
  border-color: map-get($theme-colors, "accent3")!important;
}

.table-responsive-lg {
  overflow-x: scroll;
  white-space: nowrap;
}

#desktop-user-dropdown {
  background-color: map-get($theme-colors, "primary")!important;
}
#desktop-user-dropdown {
  a, i {
    color: map-get($theme-colors, "light")!important;
  }
  a:hover, i:hover {
    background-color: map-get($theme-colors, "primary")!important;
    color: map-get($theme-colors, "light")!important;
  }
}
